.main-div {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: rgb(177, 199, 145);
    margin: auto;
}

.newItemCreation {
    display: flex;
}

.listItem {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
}